# How should I price auto insurance in the United States?

## Introduction

**Business Context.** The ability to price an insurance quote properly has a significant impact on insurers' management decisions and financial statements. You are the chief data scientist at a new startup insurance company focusing on providing affordable insurance to millennials. You are tasked to assess the current state of insurance companies to see what factors large insurance providers charge premiums for. Fortunately for you, your company has compiled a dataset by surveying what people currently pay for insurance from large companies. Your findings will be used as the basis of developing your company's millenial car insurance offering. 

**Business Problem.** Your task is to build a **minimal** model to predict the cost of insurance from the data set using various characteristics of a policyholder.

**Analytical Context.** The data resides in a CSV file which has been pre-cleaned for you and can directly be read in. Throughout the case, you will be iterating on your initial model many times based on common pitfalls that arise which we discussed in previous cases. You will be using the Python `statsmodels` package to create and analyze these linear models.

In [1]:
! pip install -r requirements.txt

Collecting scipy
  Downloading scipy-1.7.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (28.4 MB)
     |████████████████████████████████| 28.4 MB 77 kB/s  eta 0:00:01|█████▊                          | 5.1 MB 4.2 MB/s eta 0:00:06K     |███████████▎                    | 10.0 MB 4.2 MB/s eta 0:00:05 |█████████████▎                  | 11.8 MB 4.2 MB/s eta 0:00:04
Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 2)) (1.2.5)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from -r requirements.txt (line 3)) (1.20.3)
Collecting seaborn
  Using cached seaborn-0.11.1-py3-none-any.whl (285 kB)
Collecting statsmodels
  Using cached statsmodels-0.12.2-cp38-cp38-manylinux1_x86_64.whl (9.4 MB)
Collecting pillow
  Using cached Pillow-8.3.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (3.0 MB)
Collecting matplotlib
  Using cached matplotlib-3.4.2-cp38-cp38-manylinux1_x86_64.whl (10.3 MB)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 7)) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.8/site-packages (from matplotlib->-r requirements.txt (line 7)) (2.8.1)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.3.1-cp38-cp38-manylinux1_x86_64.whl (1.2 MB)
Collecting cycler>=0.10
  Using cached cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->-r requirements.txt (line 7)) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas->-r requirements.txt (line 2)) (2021.1)
Collecting patsy>=0.5
  Using cached patsy-0.5.1-py2.py3-none-any.whl (231 kB)
Installing collected packages: pillow, kiwisolver, cycler, scipy, patsy, matplotlib, statsmodels, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.2 patsy-0.5.1 pillow-8.3.1 scipy-1.7.1 seaborn-0.11.1 statsmodels-0.12.2

In [2]:
### Load relevant packages

import pandas                  as pd
import numpy                   as np
import matplotlib.pyplot       as plt
import seaborn                 as sns
import statsmodels.api         as sm
import statsmodels.formula.api as smf
import os

# This statement allow to display plot without asking to 
%matplotlib inline

# always make it pretty 
plt.style.use('ggplot')

## Diving into the data

In [3]:
df = pd.read_csv('Allstate-cost-cleaned.csv',
    dtype = { # indicate categorical variables
        'A': 'category',
        'B': 'category',
        'C': 'category',
        'D': 'category',
        'E': 'category',
        'F': 'category',
        'G': 'category',
        'car_value': 'category',
        'state': 'category'
    }
)

The following are the columns in the dataset:

1. **state**: State where shopping point occurred
2. **group_size**: How many people will be covered under the policy (1, 2, 3 or 4) 
3. **homeowner**: Whether the customer owns a home (0=no, 1=yes)
4. **car_age**: Age of the customer's car (How old the car is)
5. **car_value**: Value of the car when it was new
6. **risk_factor**: An ordinal assessment of how risky the customer is (0,1, 2, 3, 4) 
7. **age_oldest**: Age of the oldest person in customer's group
8. **age_youngest**: Age of the youngest person in customer's group
9. **married_couple**: Does the customer group contain a married couple (0=no, 1=yes) 
10. **C_previous**: What the customer formerly had or currently has for product option C (0=nothing, 1, 2, 3,4)
11. **duration_previous**: How long (in years) the customer was covered by their previous issuer
12. **A,B,C,D,E,F,G**: The coverage options:
13. **A**: Collision (levels: 0, 1, 2);
14. **B**: Towing (levels: 0, 1);
15. **C**: Bodily Injury (BI, levels: 1, 2, 3, 4);
16. **D**: Property Damage (PD, levels 1, 2, 3);
17. **E**: Rental Reimbursement (RR, levels: 0, 1);
18. **F**: Comprehensive (Comp, levels: 0, 1, 2, 3);
19. **G**: Medical/Personal Injury Protection (Med/PIP, levels: 1, 2, 3, 4)
20. **cost**: cost of the quoted coverage options

In [4]:
df.head(10)

,Unnamed: 0,state,group_size,homeowner,car_age,car_value,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,A,B,C,D,E,F,G,cost
0,0,OK,1,0,9,f,0.0,24,24,0,3.0,9.0,0,0,1,1,0,0,4,543
1,1,OK,1,0,9,f,0.0,24,24,0,3.0,9.0,2,1,1,3,1,3,2,611
2,2,PA,1,1,7,f,0.0,74,74,0,2.0,15.0,2,0,2,3,1,2,2,691
3,3,PA,1,1,7,f,0.0,74,74,0,2.0,15.0,2,0,2,3,1,2,2,695
4,4,AR,1,0,4,d,4.0,26,26,0,3.0,1.0,1,0,1,1,0,2,2,628
5,5,AR,1,0,4,d,4.0,26,26,0,3.0,1.0,1,0,2,1,0,2,2,625
6,6,AR,1,0,4,d,4.0,26,26,0,3.0,1.0,1,0,2,1,0,2,2,628
7,7,OK,1,0,13,f,3.0,22,22,0,0.0,0.0,0,0,1,1,0,0,2,596
8,8,OK,1,0,13,f,3.0,22,22,0,0.0,0.0,2,0,1,1,0,3,2,711
9,9,OK,1,0,13,f,3.0,22,22,0,0.0,0.0,2,0,1,1,0,3,2,722

In [5]:
df = df.drop('Unnamed: 0', axis=1)

### Exercise 1:

Write code to visualize the relationship between cost and the following variables. Choose your plots judiciously based on what you know about each variable. Different variable types (categorical vs. numerical) should have different types of plots (e.g. scatter, boxplot, violin plot, etc.) Group your plots together using the `plt.subplot()` function.

1. `car_age`
2. `age_oldest`
3. `age_youngest`
4. `duration_previous`
5. `C_previous`
6. `homeowner`
7. `group_size`
8. `car_age`
9. Categories A-G (7 different plots)

**Answer.**

-------

### Exercise 2:

Convert all categorical data to be in the one-hot encoding format.

**Answer.**

In [6]:
df.dtypes

state                category
group_size              int64
homeowner               int64
car_age                 int64
car_value            category
risk_factor           float64
age_oldest              int64
age_youngest            int64
married_couple          int64
C_previous            float64
duration_previous     float64
A                    category
B                    category
C                    category
D                    category
E                    category
F                    category
G                    category
cost                    int64
dtype: object

In [7]:
df_encoded = pd.get_dummies(df,columns=['car_value', 'state','A','B','C','D','E', 'F','G'], drop_first=True).copy()
df_encoded

,group_size,homeowner,car_age,risk_factor,age_oldest,age_youngest,married_couple,C_previous,duration_previous,cost,...,C_4,D_2,D_3,E_1,F_1,F_2,F_3,G_2,G_3,G_4
0,1,0,9,0.0,24,24,0,3.0,9.0,543,...,0,0,0,0,0,0,0,0,0,1
1,1,0,9,0.0,24,24,0,3.0,9.0,611,...,0,0,1,1,0,0,1,1,0,0
2,1,1,7,0.0,74,74,0,2.0,15.0,691,...,0,0,1,1,0,1,0,1,0,0
3,1,1,7,0.0,74,74,0,2.0,15.0,695,...,0,0,1,1,0,1,0,1,0,0
4,1,0,4,4.0,26,26,0,3.0,1.0,628,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15478,1,0,2,1.0,70,70,0,4.0,9.0,643,...,1,0,1,1,0,1,0,0,1,0
15479,1,0,2,1.0,70,70,0,4.0,9.0,643,...,1,0,1,1,0,1,0,0,1,0
15480,1,0,2,1.0,70,70,0,4.0,9.0,647,...,1,0,1,1,0,1,0,0,1,0
15481,1,1,0,3.0,25,25,0,2.0,6.0,642,...,0,0,1,0,0,0,0,1,0,0
15482,1,1,0,3.0,25,25,0,2.0,6.0,646,...,0,0,1,0,0,0,0,1,0,0

-------

## Fitting a multiple linear regression

### Exercise 3:

Split your data into training and testing sets (an 80-20 split is a good starting point).

**Note:** Keep random seed as 1337 in the code cell

**Answer.**

In [8]:
np.random.seed(1337) 

ndata = len(df)

idx_train = np.random.choice(range(ndata),int(0.8*ndata),replace=False)

idx_test  = np.asarray(list(set(range(ndata)) - set(idx_train)))
train     = df.iloc[idx_train] # the training data set
test      = df.iloc[idx_test]  # the test data set
print(train.shape) 
print(test.shape)

(12386, 19)
(3097, 19)

-------

### Exercise 4:

#### 4.1

Fit a multiple linear regression model to the training data regressing cost against all the other variables. Call this `model_all`. What is the AIC value?

**Answer.**

In [9]:
formula_all = "cost ~ "

for i in df_encoded.columns:
    if i in ('cost' ):
        pass
    else:
        formula_all += f" {i} +"
        
formula_all = formula_all[:-2]
formula_all

'cost ~  group_size + homeowner + car_age + risk_factor + age_oldest + age_youngest + married_couple + C_previous + duration_previous + car_value_b + car_value_c + car_value_d + car_value_e + car_value_f + car_value_g + car_value_h + car_value_i + state_AR + state_CO + state_CT + state_DC + state_DE + state_FL + state_GA + state_IA + state_ID + state_IN + state_KS + state_KY + state_MD + state_ME + state_MO + state_MS + state_MT + state_ND + state_NE + state_NH + state_NM + state_NV + state_NY + state_OH + state_OK + state_OR + state_PA + state_RI + state_SD + state_TN + state_UT + state_WA + state_WI + state_WV + state_WY + A_1 + A_2 + B_1 + C_2 + C_3 + C_4 + D_2 + D_3 + E_1 + F_1 + F_2 + F_3 + G_2 + G_3 + G_4'

In [10]:
model_all = smf.ols(formula=formula_all, data= df_encoded).fit()

print(model_all.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.438
Model:                            OLS   Adj. R-squared:                  0.436
Method:                 Least Squares   F-statistic:                     179.4
Date:                Mon, 02 Aug 2021   Prob (F-statistic):               0.00
Time:                        02:21:05   Log-Likelihood:                -77228.
No. Observations:               15483   AIC:                         1.546e+05
Df Residuals:                   15415   BIC:                         1.551e+05
Df Model:                          67
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept           675.4716      4.984    135.529      0.000     665.702     685.241
group_size            3.1138      1.324      2.352      0.019       0.519       5.708
homeowner           -14.3674      0.652    -22.034      0.000     -15.646     -13.089
car_age              -0.7299      0.060    -12.159      0.000      -0.848      -0.612
risk_factor          -0.6129      0.205     -2.992      0.003      -1.014      -0.211
age_oldest            0.5899      0.057     10.372      0.000       0.478       0.701
age_youngest         -0.9859      0.056    -17.719      0.000      -1.095      -0.877
married_couple       -9.8212      1.250     -7.860      0.000     -12.270      -7.372
C_previous           -6.1804      0.322    -19.207      0.000      -6.811      -5.550
duration_previous    -1.5081      0.065    -23.103      0.000      -1.636      -1.380
car_value_b         -56.9777      7.083     -8.044      0.000     -70.861     -43.094
car_value_c         -45.5750      4.481    -10.171      0.000     -54.358     -36.792
car_value_d         -39.5906      4.284     -9.242      0.000     -47.987     -31.194
car_value_e         -39.6168      4.262     -9.295      0.000     -47.971     -31.263
car_value_f         -39.8493      4.277     -9.318      0.000     -48.232     -31.466
car_value_g         -35.5735      4.314     -8.245      0.000     -44.030     -27.117
car_value_h         -27.8630      4.488     -6.208      0.000     -36.660     -19.066
car_value_i          -5.6405      5.674     -0.994      0.320     -16.762       5.481
state_AR              1.3792      2.781      0.496      0.620      -4.072       6.830
state_CO             -9.2945      2.285     -4.067      0.000     -13.774      -4.815
state_CT             31.6011      2.572     12.289      0.000      26.560      36.642
state_DC             36.7804      4.334      8.487      0.000      28.286      45.275
state_DE             37.1779      4.118      9.029      0.000      29.107      45.249
state_FL             12.4637      1.923      6.480      0.000       8.694      16.234
state_GA              8.6374      2.124      4.066      0.000       4.474      12.801
state_IA            -50.5828      3.112    -16.255      0.000     -56.682     -44.483
state_ID            -18.3619      3.675     -4.997      0.000     -25.565     -11.159
state_IN            -11.2057      2.288     -4.897      0.000     -15.691      -6.720
state_KS             -7.3087      3.909     -1.870      0.062     -14.972       0.354
state_KY             20.3275      2.546      7.985      0.000      15.338      25.317
state_MD             23.5796      2.214     10.649      0.000      19.239      27.920
state_ME            -33.5905      3.527     -9.525      0.000     -40.503     -26.678
state_MO            -21.7142      2.631     -8.253      0.000     -26.871     -16.557
state_MS             -1.3817      2.926     -0.472      0.637      -7.118       4.354
state_MT            -11.2014      5.322     -2.105      0.035     -21.633      -0.770
state_ND             13.1514      5.460      2.409      0.016       2.449      23.854
state_NE            -12.8292      4.863     -2.638      0.008     -22.361      -3.297
state_NH            -19.5094      3.378     -5.775      0.000     -26.131     -12.887
state_NM             -1.5936      3.366     -0.473      0.636      -8.191       5.003
state_NV             23.7016      2.505      9.461      0.000      18.791      28.612
state_NY             39.7512      2.155     18.442      0.000      35.526      43.976
state_OH             -7.5855      2.062     -3.679      0.000     -11.627      -3.544
state_OK            -10.5090      2.451     -4.287      0.000     -15.314      -5.704
state_OR             -7.1151      2.535     -2.807      0.005     -12.083      -2.147
state_PA              9.9049      1.966      5.038      0.000       6.051      13.759
state_RI             26.8840      3.703      7.260      0.000      19.626      34.142
state_SD            -16.7304     11.985     -1.396      0.163     -40.222       6.762
state_TN            -10.9344      2.330     -4.693      0.000     -15.501      -6.368
state_UT            -17.5749      2.510     -7.003      0.000     -22.494     -12.656
state_WA              4.7720      2.304      2.071      0.038       0.256       9.288
state_WI            -31.6410      2.665    -11.873      0.000     -36.864     -26.417
state_WV             27.2028      3.854      7.058      0.000      19.648      34.758
state_WY             -4.6620      6.088     -0.766      0.444     -16.595       7.271
A_1                  27.5493      1.377     20.008      0.000      24.850      30.248
A_2                  32.7259      1.648     19.860      0.000      29.496      35.956
B_1                   2.0272      0.706      2.873      0.004       0.644       3.410
C_2                   0.6007      1.001      0.600      0.548      -1.361       2.563
C_3                   0.9439      1.039      0.909      0.364      -1.092       2.980
C_4                   3.2265      1.555      2.075      0.038       0.178       6.275
D_2                  -1.0953      1.069     -1.024      0.306      -3.191       1.001
D_3                  -1.3130      1.113     -1.180      0.238      -3.495       0.869
E_1                   8.1809      0.777     10.533      0.000       6.658       9.703
F_1                  17.8610      1.505     11.865      0.000      14.910      20.812
F_2                  16.4446      1.447     11.367      0.000      13.609      19.280
F_3                  12.0124      2.098      5.726      0.000       7.901      16.124
G_2                   8.7956      0.842     10.448      0.000       7.145      10.446
G_3                   0.9440      1.061      0.890      0.374      -1.136       3.024
G_4                   4.6664      1.128      4.135      0.000       2.454       6.878
==============================================================================
Omnibus:                      699.843   Durbin-Watson:                   0.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1772.348
Skew:                           0.247   Prob(JB):                         0.00
Kurtosis:                       4.582   Cond. No.                     3.10e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.1e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

-------

#### 4.2 

According to `model_all`, which states are most and least expensive?

**Answer.**

In [11]:
print(model_all.params.sort_values(ascending=False)[0:10], '\n')

model_all.params.sort_values(ascending=False)[58:68]

Intercept    675.471601
state_NY      39.751177
state_DE      37.177927
state_DC      36.780392
A_2           32.725870
state_CT      31.601078
A_1           27.549317
state_WV      27.202818
state_RI      26.884047
state_NV      23.701646
dtype: float64

car_value_h   -27.862960
state_WI      -31.640965
state_ME      -33.590503
car_value_g   -35.573458
car_value_d   -39.590594
car_value_e   -39.616808
car_value_f   -39.849312
car_value_c   -45.574971
state_IA      -50.582827
car_value_b   -56.977730
dtype: float64

The most expensive car insurance are in  New York (NY), Delaware (DE) and District of Columbia (DC) States

The least expensive car insurance are in Iowa(IA), Maine(ME) and Wisconsin(WI) states.

-------

#### 4.3

Interpret the coefficients of `group_size`, `homeowner`, `car_age`, `risk_factor`, `age_oldest`, `age_youngest`       `married_couple` , `duration_previous`. Do the signs and values of these coefficients make sense to you in the context of this business problem?

**Answer.**

In [12]:
model_all.params[['group_size', 
                  'homeowner', 
                  'car_age', 
                  'age_oldest', 
                  'age_youngest', 
                  'married_couple', 
                  'duration_previous'
                 ]]

group_size            3.113752
homeowner           -14.367412
car_age              -0.729927
age_oldest            0.589880
age_youngest         -0.985884
married_couple       -9.821222
duration_previous    -1.508108
dtype: float64

The coefficients and their sign are almost all expected, but car_age is unexpected because in terms of insurance we think and hear that if the car model is old the insurance increases but for this model it does not apply. Also a curious fact is that if we are homeowners the insurance decreases a considerable amount.

-------

### Exercise 5:

Which variables from `model_all` are statistically significant? (For categorical variables, consider them to be significant if at least one of their categories are statistically significant). Refit the model using only these variables; call this `model_sig`. How does this model compare to the previous model?

**Answer.**

In [17]:
sign_variables = model_all.pvalues[(model_all.pvalues > 0.05/len(model_all.params))]
print(sign_variables)

group_size     0.018665
risk_factor    0.002773
car_value_i    0.320186
state_AR       0.619939
state_KS       0.061570
state_MS       0.636833
state_MT       0.035332
state_ND       0.016023
state_NE       0.008343
state_NM       0.635879
state_OR       0.005005
state_SD       0.162752
state_WA       0.038341
state_WY       0.443805
B_1            0.004076
C_2            0.548479
C_3            0.363510
C_4            0.038018
D_2            0.305683
D_3            0.238153
G_3            0.373691
dtype: float64

In [24]:
formula_sign = "cost ~ "
for i in sign_variables.index:
    formula_sign += f" {i} +"
    
formula_sign = formula_sign[:-2]

model_sign = smf.ols(formula=formula_sign, data= df_encoded).fit()

print(model_sign.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.034
Method:                 Least Squares   F-statistic:                     27.20
Date:                Mon, 02 Aug 2021   Prob (F-statistic):          2.31e-105
Time:                        02:42:18   Log-Likelihood:                -81411.
No. Observations:               15483   AIC:                         1.629e+05
Df Residuals:                   15461   BIC:                         1.630e+05
Df Model:                          21
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     629.8968      1.429    440.744      0.000     627.095     632.698
group_size     -2.0001      0.828     -2.415      0.016      -3.623      -0.377
risk_factor    -0.2192      0.248     -0.884      0.377      -0.705       0.267
car_value_i    39.8113      4.878      8.161      0.000      30.250      49.373
state_AR       -2.4065      2.975     -0.809      0.419      -8.239       3.426
state_KS      -11.4248      4.632     -2.466      0.014     -20.505      -2.345
state_MS       -7.7270      3.209     -2.408      0.016     -14.017      -1.437
state_MT      -11.0045      6.597     -1.668      0.095     -23.935       1.926
state_ND       18.8049      6.747      2.787      0.005       5.581      32.029
state_NE      -25.3609      5.977     -4.243      0.000     -37.077     -13.645
state_NM      -11.6378      3.871     -3.007      0.003     -19.225      -4.051
state_OR      -12.3085      2.515     -4.895      0.000     -17.238      -7.379
state_SD      -30.1374     15.525     -1.941      0.052     -60.568       0.293
state_WA       -1.8618      2.102     -0.886      0.376      -5.982       2.258
state_WY      -13.9286      7.668     -1.816      0.069     -28.959       1.102
B_1            14.8653      0.769     19.323      0.000      13.357      16.373
C_2            -5.1171      1.233     -4.151      0.000      -7.534      -2.701
C_3            -4.9001      1.193     -4.109      0.000      -7.238      -2.562
C_4            -8.9971      1.745     -5.155      0.000     -12.418      -5.576
D_2             5.9730      1.369      4.364      0.000       3.290       8.656
D_3             6.4158      1.407      4.559      0.000       3.658       9.174
G_3            -1.5908      0.875     -1.818      0.069      -3.306       0.125
==============================================================================
Omnibus:                      205.216   Durbin-Watson:                   0.778
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              274.622
Skew:                           0.185   Prob(JB):                     2.33e-60
Kurtosis:                       3.538   Cond. No.                         112.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

-------

### Exercise 6:

In addition to the variables in `model_sig`, add terms for:

1. square of `age_youngest`
2. square term for the age of the car
3. interaction term for `car_value` and `age_youngest`

and save it to a new model `model_sig_plus`.

**Answer.**

In [28]:
formula_sign_plus

'cost ~  group_size + risk_factor + car_value_i + state_AR + state_KS + state_MS + state_MT + state_ND + state_NE + state_NM + state_OR + state_SD + state_WA + state_WY + B_1 + C_2 + C_3 + C_4 + D_2 + D_3 + G_3+  I(age_youngest**2) + I(car_age**2)'

In [29]:
formula_sign_plus = formula_sign + "+  I(age_youngest**2) + I(car_age**2) + car_value_i*age_youngest"

model_sign_plus = smf.ols(formula=formula_sign_plus, data= df_encoded).fit()

print(model_sign_plus.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   cost   R-squared:                       0.127
Model:                            OLS   Adj. R-squared:                  0.126
Method:                 Least Squares   F-statistic:                     90.19
Date:                Mon, 02 Aug 2021   Prob (F-statistic):               0.00
Time:                        02:47:32   Log-Likelihood:                -80637.
No. Observations:               15483   AIC:                         1.613e+05
Df Residuals:                   15457   BIC:                         1.615e+05
Df Model:                          25
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                  693.0836      3.082    224.898      0.000     687.043     699.124
group_size                  -3.8114      0.791     -4.819      0.000      -5.362      -2.261
risk_factor                 -0.0966      0.236     -0.409      0.682      -0.560       0.366
car_value_i                 65.2913     18.838      3.466      0.001      28.367     102.216
state_AR                    -2.2425      2.831     -0.792      0.428      -7.791       3.306
state_KS                   -12.4871      4.409     -2.832      0.005     -21.130      -3.844
state_MS                    -7.5127      3.054     -2.460      0.014     -13.498      -1.527
state_MT                   -19.8010      6.282     -3.152      0.002     -32.115      -7.487
state_ND                    20.4273      6.424      3.180      0.001       7.835      33.019
state_NE                   -22.0510      5.690     -3.875      0.000     -33.205     -10.898
state_NM                    -8.4938      3.684     -2.305      0.021     -15.715      -1.272
state_OR                   -12.1678      2.394     -5.083      0.000     -16.860      -7.476
state_SD                   -21.3724     14.776     -1.446      0.148     -50.334       7.589
state_WA                    -0.7164      2.003     -0.358      0.721      -4.642       3.209
state_WY                   -14.5540      7.296     -1.995      0.046     -28.856      -0.252
B_1                         13.8992      0.733     18.960      0.000      12.462      15.336
C_2                         -5.1062      1.174     -4.351      0.000      -7.407      -2.806
C_3                         -4.4546      1.140     -3.907      0.000      -6.690      -2.220
C_4                         -6.5671      1.678     -3.913      0.000      -9.857      -3.277
D_2                          6.2051      1.303      4.763      0.000       3.652       8.759
D_3                          5.7623      1.340      4.301      0.000       3.136       8.388
G_3                         -1.5884      0.837     -1.898      0.058      -3.229       0.052
I(age_youngest ** 2)         0.0159      0.001     11.588      0.000       0.013       0.019
I(car_age ** 2)             -0.0696      0.003    -27.102      0.000      -0.075      -0.065
age_youngest                -2.0437      0.128    -15.975      0.000      -2.294      -1.793
car_value_i:age_youngest    -0.4653      0.367     -1.268      0.205      -1.185       0.254
==============================================================================
Omnibus:                      338.576   Durbin-Watson:                   0.804
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              538.598
Skew:                           0.216   Prob(JB):                    1.11e-117
Kurtosis:                       3.805   Cond. No.                     1.45e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.45e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

-------

## Feature selection

To reduce the number of features, it can often be helpful to aggregate the categories; for example, we can create a new variable by assigning each state to a larger region:

In [16]:
state_regions = pd.read_csv('https://raw.githubusercontent.com/cphalpert/census-regions/master/us%20census%20bureau%20regions%20and%20divisions.csv')
# should download the above file
state_regions

                   State State Code     Region            Division
0                 Alaska         AK       West             Pacific
1                Alabama         AL      South  East South Central
2               Arkansas         AR      South  West South Central
3                Arizona         AZ       West            Mountain
4             California         CA       West             Pacific
5               Colorado         CO       West            Mountain
6            Connecticut         CT  Northeast         New England
7   District of Columbia         DC      South      South Atlantic
8               Delaware         DE      South      South Atlantic
9                Florida         FL      South      South Atlantic
10               Georgia         GA      South      South Atlantic
11                Hawaii         HI       West             Pacific
12                  Iowa         IA    Midwest  West North Central
13                 Idaho         ID       West            Mountain
14              Illinois         IL    Midwest  East North Central
15               Indiana         IN    Midwest  East North Central
16                Kansas         KS    Midwest  West North Central
17              Kentucky         KY      South  East South Central
18             Louisiana         LA      South  West South Central
19         Massachusetts         MA  Northeast         New England
20              Maryland         MD      South      South Atlantic
21                 Maine         ME  Northeast         New England
22              Michigan         MI    Midwest  East North Central
23             Minnesota         MN    Midwest  West North Central
24              Missouri         MO    Midwest  West North Central
25           Mississippi         MS      South  East South Central
26               Montana         MT       West            Mountain
27        North Carolina         NC      South      South Atlantic
28          North Dakota         ND    Midwest  West North Central
29              Nebraska         NE    Midwest  West North Central
30         New Hampshire         NH  Northeast         New England
31            New Jersey         NJ  Northeast     Middle Atlantic
32            New Mexico         NM       West            Mountain
33                Nevada         NV       West            Mountain
34              New York         NY  Northeast     Middle Atlantic
35                  Ohio         OH    Midwest  East North Central
36              Oklahoma         OK      South  West South Central
37                Oregon         OR       West             Pacific
38          Pennsylvania         PA  Northeast     Middle Atlantic
39          Rhode Island         RI  Northeast         New England
40        South Carolina         SC      South      South Atlantic
41          South Dakota         SD    Midwest  West North Central
42             Tennessee         TN      South  East South Central
43                 Texas         TX      South  West South Central
44                  Utah         UT       West            Mountain
45              Virginia         VA      South      South Atlantic
46               Vermont         VT  Northeast         New England
47            Washington         WA       West             Pacific
48             Wisconsin         WI    Midwest  East North Central
49         West Virginia         WV      South      South Atlantic
50               Wyoming         WY       West            Mountain

### Exercise 7:

#### 7.1

Create a new column where a state is replaced with the region it is in according to the above table.

**Answer.**

-------

#### 7.2

Fit the model as in `model_sig_plus` but this time use `region` instead of `state`. Call this `model_region`.

**Answer.**

-------

### Exercise 8:

#### 8.1

What should we do next to minimize features?

**Answer.**

-------

#### 8.2

Using a method of your choice, find the numerical feature(s) in `model_region`, except for the three we added in Exercise 6, which exhibit multicollinearity. **Hint:** consider looking at correlations.

**Answer.**

-------

#### 8.3:

Refit `model_region` after dropping these redundant predictor(s); call this `model_region_no_oldest`.

**Answer.**

-------

#### 8.4

What would you do to diagnose the `model_region_no_oldest` fit? What does this diagnosis suggest to you? (Hint: try plotting the residuals in various ways.)

**Answer.**

-------

### Exercise 9:

#### 9.1

Find the best Box-Cox transformation of `cost` used to fit `model_region_no_oldest`. What value do you get?

**Answer.**

-------

#### 9.2

Refit `model_region_no_oldest`, but now with the transformation as suggested by the Box-Cox. Call it `model_region_no_oldest_box_cox`.

**Answer.**

-------

## Conclusion

In this, you practiced creating linear models using `statsmodels` and iteratively trimming the input variables to go from including all the variables in the dataset to using only the most relevant variables. You excluded those variables that were statistically insignificant and removed those that had high correlation. Finally, we performed some feature engineering in an attempt to remove some tail behavior that deviates from the normal distribution to better fit our linear model. In the end, we had a very minimal model that contained variables that other insurance companies use to charge premiums that gave us insight on how we can better serve a niche population.